%p
  = product_form.label :имя
  = product_form.text_field :name
%p
  = product_form.label :описание
  = product_form.text_field :specification
%p
  = product_form.label :цена
  = product_form.text_field :price


%p
  = product_form.simple_fields_for :images do |image_form|
    = image_form.file_field :image

- if @product.errors.any?
  #error_explanation
  %h2
  = pluralize(@product.errors.count, "error")

  %ul
    - @product.errors.full_messages.each do |msg|
      %li= msg



= product_form.submit "Сохранить"