!!!
%html
%head
  %title Stallinius


%body
  %p
  #container
    #name
    %h2= @product.name
  
  #specification
    %h4 Описание:
    = @product.specification
  #price
    цена: #{number_to_currency(@product.price)}

  %p
    - for image in @product.images
      = image_tag image.image_url.to_s

  %p
  = link_to 'редактировать', edit_product_path 
  = button_to "удалить", @product, :method=>:delete, :class=>:destroy
